dresses,neck,sleeve,pattern,dresses_fit,occasions,length
tops,neck,sleeve,pattern,generic_fit,occasions
bottoms,pattern,generic_fit,occasions,length
outerwear,neck,sleeve,pattern,generic_fit,occasions
scarves,pattern,type
shoes,shoe_occasions,shoe_pattern,shoe_accent,shoe_heel_style,shoe_heel_height,shoe_laces,shoe_straps,shoe_toe_style
